.App {
  text-align: center;
  font-family: Arial;
}

/* The list of options */
.options {
  padding: 8px;
  border: 2px solid black;
  cursor: pointer;
  width: 100%;
  background-color: white;
  color: steelblue;
  font-weight: bold;
  border-radius: 7px;
}

.selected {
  background-color: rgb(180, 180, 206);
}

/*.options:hover {
  background-color: rgb(219, 168, 72);
}*/

ul {
  list-style-type: none;
}

ul li {
  margin: 5px;
}

.finalTemplate h1 {
  margin-left: 35px;
}

.finalTemplate h4 {
  margin-left: 190px;
}

body {
  height: 500px;
  display: flex;
  justify-content: center;
  color: white;
  font-family: 'Segoe UI';
  font-size: 18px;
  background-color: teal;
}

@media screen and (max-width: 1024px) {
  body {
    background-color: rgb(158, 119, 119);
  }
}

@media screen and (max-width: 768px) {
  body {
    background-color: grey;
  }
}

.image {
  width: 60%;
  margin-top: -60px;
  margin-bottom: 10px;
}
